bin/
obj/
*.exe
*.dll
*.pdb
*.runtimeconfig.json
*.deps.json
*.user
.vs/
project.assets.json
project.nuget.cache
*.nuget.*
*.suo
*.cache
.env
.env.*
*.userosscache
*.sln.docstates
Thumbs.db
Desktop.ini
settings.txt